.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparentize($color: $lightSchemeBackground, $amount: $overlayTransparency);

  .overlay-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .title {
      font-size: $overlayHeaderHeight * .6;
      margin: $overlayHeaderHeight * .2 0;
    }

    .close {
      display: inline-block;
      width: $overlayHeaderHeight;
      font-size: $overlayHeaderHeight;
      text-align: center;
      cursor: pointer;
    }
  }

  .overlay-content {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100% - #{$overlayHeaderHeight * 2});

    /* overlayImage */
    .image {
      display: flex;
      width: 80%;
      height: 80%;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &#analytics-consent {
    .overlay-content .body {
      max-width: 60%;

      .analytics-details {
        display: inline-block;
        margin-bottom: 1rem;
      }

      .analytics-consent-deny:hover {
        background-color: #f44336;
      }

      .analytics-consent-accept:hover {
        background-color: #388E3C;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .overlay {
    background-color: transparentize($color: $darkSchemeBackground, $amount: $overlayTransparency);

    .overlay-header .close {
      color: $darkSchemeColor;
    }
  }
}