* {
    box-sizing: border-box;
    font-family: Roboto;
}

:root {
    font-size: 16px;
}

body {
    margin: 0;
}

a {
    color: $lightSchemeColor;
}

@media (prefers-color-scheme: dark) {
    a {
        color: $darkSchemeColor;
    }
}