$primaryColor: #546e7a;

$scrolltopBackground: transparentize($primaryColor, .4);

$lightSchemeBackground: #fff;
$lightSchemeColor: #000;

$darkSchemeBackground: #333333;
$darkSchemeColor: #eeeeee;

/*
 * Loader
 */

$loaderAnimBaseDelay: .15s;

/*
 * Overlay
 */

$overlayTransparency: .25;
$overlayHeaderHeight: 2rem;

$schemeBackground: var(--background);
$schemeColor: var(--color);

:root {
  --background: #{$lightSchemeBackground};
  --color: #{$lightSchemeColor};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$darkSchemeBackground};
    --color: #{$darkSchemeColor};
  }
}