$primaryColor: #546e7a;

$crolltopBackground: rgba(84, 110, 122, .4);

$lightSchemeBackground: #fff;
$lightSchemeColor: #000;

$darkSchemeBackground: #333333;
$darkSchemeColor: #eeeeee;

/*
 * Loader
 */

 $loaderAnimBaseDelay: .15s;

/*
 * Overlay
 */

$overlayTransparency: .25;
$overlayHeaderHeight: 2rem;